<template>
    <div class="hello">
        <input type="text" placeholder="enter text here" @blur="onCouponApplied"/>
    </div>
</template>

<script>
    export default {
        name: 'Coupon',
        data () {
            return {
                msg: ''
            }
        },
        methods: {
            onCouponApplied () {
                Event.fire('applied')
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
