<template>
  <div id="app">
    <progress15 inline-template>
      <div>
        <h3>My progress through this course is {{myProgress}}%</h3>
        <button @click="myProgress +=10">Increase my progress</button>
      </div>
    </progress15>
  </div>
</template>

<script>

import Progress15 from './components/Progress15'


export default {
  name: 'App',
  components: {
      Progress15
  },
    created () {

    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
