<template>
  <div id="app">
    <coupon></coupon>
    </div>
</template>

<script>

import Coupon from './components/Coupon'


export default {
  name: 'App',
  components: {
    Coupon
  },
    created () {
      Event.listen('applied', () => {
          alert('Coupon applied!')
      })
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
