<template>
  <div id="app">
    <modal14>
      <template slot="header"> My Header Vlad</template>
      My content here
      <div slot="footer">
        <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button>
      </div>
    </modal14>
  </div>
</template>

<script>

import Modal14 from './components/Modal14'


export default {
  name: 'App',
  components: {
    Modal14
  },
    created () {

    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
